---
layout: 'layouts/base.njk'
eleventyComputed:
  title: "{{page.fileSlug}}"
  permalink: "poemas/{{page.fileSlug | slugify}}/"
---

<article>
    <h1>{{title}}</h1>
    {{content | safe}}
</article>

<hr/>
{{fecha | formatoFecha}}
<br/>
<a href="../">Volver</a>